{
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "spaceInParen": true,
    "trailingComma": "none",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
