.btn-filled {
    background-color: purple;
    color: white;
    padding-right: 2%;
    padding-left: 2%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}