

.dropdown-test{
    font-family: Nunito !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 33px !important;
    letter-spacing: 0.03em !important;
}

.dropdown-toggle::after{
    margin-left: 80px !important;
}

.dropdown-label{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 33px !important;
    letter-spacing: 0.03em !important;
}