.card-container-ex{
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 5px;    
    /* height: fit-content; */
    width: 100%;
    
    display: flex;
    background: chartreuse;
    flex-direction: column;

}

.card-header-container-ex{
    display: flex;
    
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.card-header-text{
    margin: 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;    
}
.card-body-container{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.card-title-ex{
    padding-top: 2%;
    margin: 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.03em;    
}
.card-text-ex{
    margin-top: 5%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.03em;
}

.card-link{
    text-align: justify;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
}
