.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}


.arrow-button-container{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.arrow-text{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 0.03em;
}